.button {
    text-align: end;
    width: auto;
  }
  .button-container{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
  }
  .card-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  input {
    width: 90%;
    margin-left: 5px;
    outline: none;
  }
  